* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}

body,
html {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
}

.fa-brands {
  padding: 20px;
  color: white;
}

.fa-telegram:hover {
  border-radius: 70px;
  border: 2px solid rgb(0, 136, 204);
  background-color: rgb(0, 136, 204);
  padding: 30px;
  transition: 0.2s;
}

.fa-discord:hover {
  border-radius: 70px;
  border: 2px solid rgb(54, 0, 153);
  background-color: rgb(54, 0, 153);
  padding: 30px;
  transition: 0.2s;
}

.fa-whatsapp:hover {
  border-radius: 70px;
  border: 2px solid rgb(37, 211, 102);
  background-color: rgb(37, 211, 102);
  padding: 30px;
  transition: 0.2s;
}
